body {
    margin: auto;
    width: 100%;
    padding-top: 20px;
    background-color: #1D7A99;
    font-size: xx-large;
}

.cal {
    background: url(http://mytvweb.azurewebsites.net/assets/calendar.png) no-repeat;
}

.calText {
    width: 80%;
    border: none;
    padding-top: 100px;
    color: #000;
}

img {
    height: 240px;
    width: 320px;
    border-radius: 20px;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
    clear: both;
}

.header {
    background-color: #1f1f1f;
    border: medium none;
    border-radius: 0;
    height: 60px;
    margin: 0;
    position: fixed;
    top: 0 !important;
    width: 100%;
    z-index: 1;
}

.header1 {
    background-color: #606060;
    border: medium none;
    border-radius: 0;
    height: 60px;
    margin: 0;
    position: fixed;
    top: 60px !important;
    width: 100%;
    z-index: 1;
}

select {
    font-size: xx-large;
}

.ui-div-item {
    float: left;
    margin: auto;
    max-width: 600px;
    min-width: 320px;
    padding: 0;
    width: 50%;
}

span {
    color: #fff;
}

    span a {
        color: #fff;
        margin: 10px;
    }

.progress-bar {
    background-color: black;
    margin: auto;
    opacity: 0.45;
    position: absolute;
    width: 90%;
    z-index: 100;
}

.progress-bar-img {
    background-image: url("/spinner.gif");
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}
