<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.webos.ide.launcher.ui.enyoLaunchConfigurationType">
<stringAttribute key="Application" value="TestTestTV"/>
<stringAttribute key="RunPackageType" value="minify"/>
<stringAttribute key="Target" value="emulator"/>
</launchConfiguration>
