@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Terms", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Policy", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
